@media (max-width: 988px) {
    .my-name h3 {
        font-size: 17px;
    }
    .btn-menu {
        font-size: 16px;
    }
    .contact-item p {
        font-size: 15px;
    }
  }

@media(max-width: 815px){
    .toggle-icon {
        display: block;
    }
    .menu-site {
        display: none !important;
    }
    body {
        height: 850px;
    }
    .contact-item img {
        width: 50px;
        height: 50px;
    }
    main {
        margin-top: 80px;
    }
    
}
